body {
    background-color: #5e2d78e9;
}
.clock-container {
    background: linear-gradient(135deg, #8124bf, #cf2323);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    min-width: 300px;
}
h1 {
    font-family: 'Courier New', monospace;
    font-size: 3rem;
}